<div class="content-container p-md-5 p-2 d-flex justify-content-center">
    <div class="side-space">
        <form action="/movie/<%= movie.id %>/update" method="post">
            <div>
                <div class="form-group">
                    <label class="col-form-label-lg">Name</label>
                    <input type="text" class="form-control" value="<%= movie.name %>" maxlength="80" name="name" pattern="[a-zA-Z0-9\s]+" title="Nur Buchstaben und Ziffern erlaubt" required>
                </div>
                <div class="form-group">
                    <label class="col-form-label-lg">Länge</label>
                    <input type="text" class="form-control" value="<%= movie.duration %>" maxlength="8" name="duration" pattern="[0-9]+" title="Nur Ziffern erlaubt" required>
                </div>
                <div class="form-group mb-5">
                    <label class="col-form-label-lg">Beschreibung</label>
                    <input type="text" maxlength="80" value="<%= movie.description %>" class="form-control" size="40"
                        name="description" pattern="[a-zA-Z0-9\s]+" title="Nur Buchstaben und Ziffern erlaubt" required>
                </div>
                <a class="btn btn-warning color-white" href="/movie/<%= movie.id %>/uploadImageForm">Bild ändern</a>
            </div>
            <div class="mt-5">
                <button type="submit" class="btn btn-success color-white">Speichern</button>
                <a class="btn btn-danger" href="/movie">Abbrechen</a>
            </div>
        </form>
    </div>
</div>