<div class="content-container p-md-5 p-2 d-flex justify-content-center">
    <div class="side-space movies-list-container">
        <h2 class="pb-3 headlines">Filme</h2>

        <form class="pb-5" action="/movie">
            <div class="mb-3">
                <div class="form-group">
                    <label class="col-form-label-lg">Titel</label>
                    <input class="form-control" type="text" value="<%= req.query.q %>" length="20" name="q">
                </div>
                <div class="form-group">
                    <label class="col-form-label-lg">Kategorie</label>
                    <select class="form-control" name="catQ">
                        <option value="0">
                            All
                        </option>
                        <% categories.forEach(function(category){ %>
                            <option value="<%= category.id %>" <% if(category.id == req.query.catQ) { %> selected <% } %>>
                                <%= category.name %>
                            </option>
                            <% }); %>
                    </select>
                </div>
            </div>
            <button class="btn color-sky-blue" type="submit">Suchen</button>
        </form>

        <div class="pt-3 table-responsive">
            <table class="table table-striped table-hover table-bordered text-center">
                <thead>
                    <th>Name</th>
                    <th>Dauer</th>
                    <th>Kategorie</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody class="align-middle">
                    <% movies.forEach(function(movie){ %>
                        <tr>
                            <td>
                                <%= movie.name %>
                            </td>
                            <td>
                                <%= movie.duration %>
                            </td>
                            <% if(movie) { %>
                            <td>
                                <%= movie.category.name %>
                            </td>
                            <% } %>
                            <td><a class="btn btn-secondary" href="/movie/<%= movie.id %>">anzeigen</a></td>
                            <td><a class="btn btn-warning" href="/movie/<%= movie.id %>/edit">ändern</a></td>
                            <td><a class="btn btn-danger" href="/movie/<%= movie.id %>/delete">löschen</a></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <a class="btn color-sky-blue mt-3" href="/movie/new">Hinzufügen</a>
        </div>
    </div>
</div>