<div class="content-container p-5 d-flex justify-content-center">
    <div class="card h-100 w-50">
        <table class="table table-hover table-bordered m-0">
            <tr>
                <th>
                    Name
                </th>
                <td>
                    <%= movie.name %>
                </td>
            </tr>
            <tr>
                <th>
                    ID
                </th>
                <td>
                    <%= movie.id %>
                </td>
            </tr>
            <tr>
                <th>
                    Dauer
                </th>
                <td>
                    <%= movie.duration %> Minuten
                </td>
            </tr>
            <tr>
                <th>
                    Beschreibung
                </th>
                <td>
                    <%= movie.description %>
                </td>
                <% if(movie.category) { %>
                    <div class="row">
                        <div class="col-2">
                            Kategorie
                        </div> 
                        <div class="col-10">
                            <%= movie.category.name %>
                        </div>
                    </div>
                    <% } %>
        </table>
    </div>
</div>