<div class="content-container p-5 d-flex justify-content-center">
    <div class="card h-100 w-50 table-responsive">
        <table class="table table-hover table-bordered m-0">
            <tr>
                <th>
                    Name
                </th>
                <td>
                    <%= movie.name %>
                </td>
            </tr>
            <tr>
                <th>
                    ID
                </th>
                <td>
                    <%= movie.id %>
                </td>
            </tr>
            <tr>
                <th>
                    Dauer
                </th>
                <td>
                    <%= movie.duration %> Minuten
                </td>
            </tr>
            <tr>
                <th>
                    Beschreibung
                </th>
                <td>
                    <%= movie.description %>
                </td>
            </tr>
            <tr>
                <th>
                    Kategorien
                </th>
                <% if(movie.category) { %>
                    <td>
                        <%= movie.category.name %>
                    </td>
                    <% } %>
            </tr>
        </table>
    </div>
</div>